{%extends 'seudireito/base.html'%}

{%block content%}
<section class="content">
    <div ng-controller="EmpresaCtrl as vm" class="container-fluid">
        <h2>Empresa</h2>
        <ul class="nav nav-tabs">
            <li class="tab-main" ng-class="{'active-tab': vm.tab == 1}"><a style="margin:5px;" ui-sref="ordens" ng-click="vm.tab=1">Ordens</a></li>
            <li class="tab-main" ng-class="{'active-tab': vm.tab == 2}"><a style="margin:5px;" ui-sref="criarOrdem" ng-click="vm.tab=2">Criar Ordem</a></li>
        </ul>
        <div ui-view></div>
    </div>
</section>
{%endblock%}