<div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descricao</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row" ng-repeat="ordem in vm.ordens" ui-sref="ordemDefinir({id: ordem.id})">
            <td>{[{ ordem.titulo }]}</td>
            <td>{[{ ordem.descricao }]}</td>
            <td>{[{ ordem.status }]}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>